<h1>Trunk Space</h1>
<h3>Add a new item:</h3>
<form action='/item' method='post'>
  <label for='new-item'>Item Name</label>
  <input id='new-item' name='new-item' type='text'>
  <button type='submit'>Add this Item</button>
</form>
